/* Home page specific styles */
.home {
    min-height: 100vh;
    padding: 20px;
    text-align: center;
}

.home h1 {
    font-size: 60px;
    color: white;
}

.home h2 {
    font-size: 35px;
    color: white;
}

.home p {
    font-size: 20px;
    color: white;

}

.profile-pic {
    /* Make the profile pic circular and small on home page */
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    margin-top: 20px;
}