.footer {
    background-color: lightgrey;
    padding: 0.5rem;
    color: black;
}

.footer a {
    text-decoration: none;
    padding: 0 5px;
    height: 44px;
    width: 44px;
    display: inline;
}