.project-card {
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    background-color: #fff;
    color: black;
    flex: 1 1 300px;
    max-width: 400px;
    min-width: 250px;
}

.project-card .github-link {
    color: black;
    background-color: darkgray;
    font-weight: bold;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 20px;
    display: inline-block;
    margin: 8px 4px 0 0;
}

.project-card .live-site-link {
    color: black;
    background-color: skyblue;
    font-weight: bold;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 20px;
    display: inline-block;
    margin: 8px 4px 0 0;
}

.project-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 16px;
}