.footer {
    background-color: lightgrey;
    padding: 0.5rem;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.footer .social-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.footer a {
    text-decoration: none;
    padding: 20px;
    height: 60px;
    width: 60px;
    display: inline;
}

@media screen and (max-width: 600px) {
    .footer p {
        font-size: 14px;
    }

    .footer a {
        padding: 10px;
        height: 36px;
        width: 36px;
    }
}